body {
	font-family: 'Montserrat', sans-serif;
	width: 60em;
	margin: 2em auto;
	color: #333;
	background-color: #fefefe;
}

body > footer {
	border-top: 2px solid #757575;
	margin-top: 4em;
	font-size: 0.9em;
}

h1, h2, h3, h4 {
	font-family: 'Viga', sans-serif;
}

a:hover,
a:focus {
	text-decoration: none;
}

input {
	border: #757575 1px solid;
}

input:focus{
	border: #333 2px solid;
}

.code, code {
	font-family: Courier, sans-serif;
	font-size: 1em;
	color: #dddddd;
	background-color: #333333;
}

.demo-link {
	display: block;
	font-size: 1.5em;
	padding: 2em;
	margin-bottom: 1em;
	border: #757575 1px solid;
}

input::placeholder {
	color: #757575;
	opacity: 1;
}
pre {
	padding: 2em;
	color: #dddddd;
	background-color: #333333;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
	word-wrap: normal;
}

.screen-reader-text:focus {
	clip: auto;
	clip-path: none;
	display: block;
	left: 0.5em;
	top: 0.5em;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.post-thumbnail {
	padding: 0 50px 50px 0;
	float: left;
}

button {
	background: #555;
	border: 1px solid #555;
	color: #eee;
	font-size: 1.5em;
	padding: 0.5em;
	font-weight: 700;
	cursor: pointer;
	letter-spacing: 2px;
	vertical-align: middle;
	width: auto;
}

button:focus,
button:hover {
	background: #eee;
	color: #555;
}


.form-chars-remaining textarea {
	width:20em;
	height:5em;
}

.social-share {
	overflow: hidden;
	list-style: none;
}

.social-share li {
	float: left;
	padding: 2em;
}

.social-share li a {
	text-decoration: none;
}

.social-share li a:hover,
.social-share li a:focus {
	text-decoration: underline;
}

.fab {
	font-size: 3em;
}